<!DOCTYPE html>
<html lang="ru">
<head>
	{% include './parts/head.njk' %}
</head>
<body>
	
	{% include './parts/header.njk' %}


	<script src="js/scripts.min.js"></script>
  <script src="js/common.js"></script>
</body>
</html>
